{% if not standalone %}{% extends "base.html" %}{% endif -%}
{% block title %}BoB - Leaderboards{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block content1 %}
<body>
	<h1>BOOK OF BUDS LEADERBOARDS</h1>
	<table class="table-leader">
	{% for item in items.items() %}
		<TR>
			<TD class="c1">{{item[0]}}</TD>
			<TD class="c2">{{item[1]}}</TD>
		</TR>
	{% endfor %}
	</table>
	<h2>The Most Buds</h2>
		<p>The Leader: {{ leader[0] }} with {{ leader[1] }} mentions</p>
		<p>Click <a href="/">here</a> to insert a new name into the Book</p>
</body>
{% endblock %}