{% if not standalone %}{% extends "base.html" %}{% endif -%}
{% block title %}BoB - Movie Suggestions{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content1 %}
<script type="text/javascript">
	function showInput() {
		var movieInput = document.getElementById('user_input')
		document.getElementById('display_mov').innerHTML = movieInput.movie.value
		return true;
	}
</script>
<form action="javascript:void(0);" onsubmit="showInput();" method="POST" id="user_input">
    {{ form.movie.label() }}{{ form.movie() }}<br>
    {{ form.submit() }} 
</form>

<label>Your favorite movie: </label>
<p id ='display_mov'></p>

{% endblock %}

