html {
	box-sizing: border-box;
}

.table-leader tr {
	background-color: blue;
	color: white;
}
body {
	background-color: yellow;
}
header{
	font-size: 105%;
    box-shadow: 0px 18px 26px 1px rgba(141, 141, 139, .75);
    width: 100%;}

.top-navi ul{
	list-style-type: none;
	padding: 0;
	background-color: #211D24;
	margin: 0;
	display: none;
}
.top-navi ul li {
	border-color: white;
}
.top-navi ul li a{
	font-size: 1em;
	color: #DDDDDA; 
	text-decoration: none;
	padding: .5em 1em;
	display: block;
	text-align: center;
	border-color: white;
}

.top-navi.toggle-open ul {
	display: block;
}